include ../../common-components/head/head.jade

doctype html
html
	+head('virtualsky')
	body
		p.page-title
			| virtualsky

		.release-wrapper
			img( src='images/040.jpg' )
			p.release-title
				| Laura†Birdie - Ever Changing

				.bandcamp-link
					img.arrow( src='images/arrow.svg' )
					p.bandcamp-link-text
					| $(cassette/digital)$